.flex-fill {
    flex: 1 1 auto;
}

.flex-blurb {
    min-height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &.top {
        padding-bottom: 75px;
        min-height: 400px;
    }

    &.bottom {
        padding-top: 75px;
        min-height: 400px;
        background-color: primary;
    }

    &.contact-form {
        min-height: 650px;
    }
}

p {
    width: 800px;
}

textarea.mat-input-element {
    resize: none;
    min-height: 100px;
}

.full-width {
    width: 100%;
}

.float-right {
    float: right;
}

mat-card {
    width: 800px;
}