.flex-fill {
    flex: 1 1 auto;
}

.flex-blurb {
    min-height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &.top {
        padding-bottom: 75px;
        min-height: 400px;
    }

    &.bottom {
        padding-top: 75px;
        min-height: 400px;
    }

    &.contact-form {
        min-height: 650px;
    }
}

p {
    max-width: 800px;
    min-width: 200px;
}

.center-text {
    text-align: center;
}

textarea.mat-input-element {
    resize: none;
    min-height: 100px;
}

.resume-download {
    font-size: 36px;
    margin-right: 10px;
}

.full-width {
    width: 100%;
}

mat-card {
    min-width: 200px;
    max-width: 800px;
}

#dashfly {
    background: url(../assets/dashfly-image-sprite.gif) no-repeat;
    height: 61px;
    width: 190px;
    background-position: -5px -275px;
    float: left;
}

#lenda {
    width: 190px;
    height: 61px;
    float: left;
}

#lenda img {
    width: 100%;
    height: auto;
}

#folgers {
    width: 190px;
    height: 61px;
    float: left;
}

#folgers img {
    width: 100%;
    height: auto;
}

#improving {
    width: 190px;
    height: 61px;
    float: left;
}

#improving img {
    width: 100%;
    height: auto;
}