.flex-fill-toolbar {
    flex: 1 1 auto;
}

.flex-blurb {
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

p {
    max-width: 800px;
}