<mat-toolbar color="primary">
  <span>
    <a mat-icon-button href="/">
      <mat-icon [inline]="true" svgIcon="headshot"></mat-icon>
    </a>
    Michael Riggs
  </span>
  <span class="flex-fill"></span>
  <a class="resume-download" mat-icon-button href="../assets/ExpandedTechnicalCV.docx" download>
    <mat-icon [inline]="true">save_alt</mat-icon>
  </a>
  <a mat-icon-button href="https://www.linkedin.com/in/michael-riggs-10101" target="_blank">
    <mat-icon [inline]="true" svgIcon="linkedin"></mat-icon>
  </a>
</mat-toolbar>

<div class="flex-blurb top">
  <h3>About</h3>
  <p>I'm Michael, a senior software consultant at Improving. I've been developing full stack software using the Agile methodology since 2006 and consulting for nine of those years. I received my Bachelor of Science in Computer Science from The University of Oklahoma in 2008, with a minor in mathematics. Outside of work, I spend my free time learning French, dancing, bicycling, playing video games, watching the ubiquitous Netflix, playing with my dog Skye, and travelling.</p>
</div>
<div class="parallax walking-bg"></div>
<div class="flex-blurb">
  <h3>Skillset</h3>
  <p>I have over a decade of Agile methodology experience over a wide range of industries including travel and leisure, lending, manufacturing, oil and gas, education, and more. During that time I've had the opportunity to work with many technologies, frequently having to pick up new ones quickly to meet project needs. Some of the technologies I've used include C#, .Net (Framework and Core), Entity Framework, Angular, Vue, Microsoft SQL Server, Selenium, CSS, Sass, Git, Subversion, and Node. Not to mention the host of other tools and frameworks to go along with them. I am also familiar with various best practices such as test driven development, continuous integration and deployment, use of design patterns, pair programing, and peer code review.</p>
</div>
<div class="parallax leaning-bg"></div>
<div class="flex-blurb">
  <h3>Works</h3>
  <p class="center-text">Some (non-NDA) places to which I've recently contributed</p>
  <span>
    <a id="dashfly" href="https://my.dashfly.com"></a>
    <a id="lenda" href="https://lenda.armlend.com"><img src="../assets/ARM_Logo.png"></a>
  </span>
</div>
<div class="parallax walking-street-bg"></div>
<div class="flex-blurb contact-form">
  <h3>Contact</h3>
  <mat-card>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" required (change)="name=$event.target.value" [value]="name">
        <mat-icon matSuffix>perm_identity</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="you@example.com" required (change)="email=$event.target.value" [value]="email">
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Subject</mat-label>
        <input matInput placeholder="Subject" required (change)="subject=$event.target.value" [value]="subject">
        <mat-icon matSuffix>subject</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="What do you want to say?" required (change)="message=$event.target.value" [value]="message"></textarea>
        <mat-icon matSuffix>message</mat-icon>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="sendEmail()">Send</button>
  </mat-card>
</div>
<div class="parallax sitting-bg"></div>
<mat-toolbar class="flex-blurb bottom" color="primary"></mat-toolbar>
<router-outlet></router-outlet>
